* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(225, 240, 245, 0.3);
    border-radius: 12px;
    background: #7be5f3;
    overflow: hidden;
}

form input{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: rgb(255, 230, 0);
    background: rgb(26, 171, 190);
    text-align: right;
    pointer-events: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid black;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-yellow{
    background: rgb(6, 247, 6);
    color: white;
}

.btn-grey{
    background: rgb(54, 39, 39);
}

.btn-equal{
    background: green;
}

.btn-clear{
    background: rgb(255, 0, 191);
}